{% extends 'index2.html' %}

{% block title %}
Our Doctors
{% endblock title %}

{% block body %}
    <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Cardiology</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <div
                    class="feature-icon d-inline-flex align-items-center justify-content-center text-bg bg-gradient fs-2 mb-3" >
                    <img src="static/images/doc1.png" style="width:5em; border-radius: 50%;" />
                </div>
                <h3 class="fs-2 text-body-emphasis">Dr. Sidhu</h3>
                <p>MBBS,MD.<br/>Experience - 20 years. </p>
                <a href="#" class="icon-link">
                    Visit Profile
                    <svg class="bi">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </a>
            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg bg-gradient fs-2 mb-3">
                    <img src="static/images/doc2.png" style="width:5em; border-radius: 50%;" />
                </div>
                <h3 class="fs-2 text-body-emphasis">Dr. Sidhu</h3>
                <p>MBBS,MD.<br />Experience - 20 years. </p>
                <a href="#" class="icon-link">
                    Visit Profile
                    <svg class="bi">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </a>
            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg bg-gradient fs-2 mb-3">
                    <img src="static/images/doc3.png" style="width:5em; border-radius: 50%;" />
                </div>
                <h3 class="fs-2 text-body-emphasis">Dr. Sidhu</h3>
                <p>MBBS,MD.<br />Experience - 20 years. </p>
                <a href="#" class="icon-link">
                    Visit Profile
                    <svg class="bi">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Gynaecology</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg bg-gradient fs-2 mb-3">
                    <img src="static/images/doc1.png" style="width:5em; border-radius: 50%;" />
                </div>
                <h3 class="fs-2 text-body-emphasis">Dr. Sidhu</h3>
                <p>MBBS,MD.<br />Experience - 20 years. </p>
                <a href="#" class="icon-link">
                    Visit Profile
                    <svg class="bi">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </a>
            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg bg-gradient fs-2 mb-3">
                    <img src="static/images/doc1.png" style="width:5em; border-radius: 50%;" />
                </div>
                <h3 class="fs-2 text-body-emphasis">Dr. Sidhu</h3>
                <p>MBBS,MD.<br />Experience - 20 years. </p>
                <a href="#" class="icon-link">
                    Visit Profile
                    <svg class="bi">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </a>
            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg bg-gradient fs-2 mb-3">
                    <img src="static/images/doc1.png" style="width:5em; border-radius: 50%;" />
                </div>
                <h3 class="fs-2 text-body-emphasis">Dr. Sidhu</h3>
                <p>MBBS,MD.<br />Experience - 20 years. </p>
                <a href="#" class="icon-link">
                    Visit Profile
                    <svg class="bi">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Neurology</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg bg-gradient fs-2 mb-3">
                    <img src="/static/images/doc1.png" style="width:5em; border-radius: 50%;" />
                </div>
                <h3 class="fs-2 text-body-emphasis">Dr. Sidhu</h3>
                <p>MBBS,MD.<br />Experience - 20 years. </p>
                <a href="#" class="icon-link">
                    Visit Profile
                    <svg class="bi">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </a>
            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg bg-gradient fs-2 mb-3">
                    <img src="/static/images/doc1.png" style="width:5em; border-radius: 50%;" />
                </div>
                <h3 class="fs-2 text-body-emphasis">Dr. Sidhu</h3>
                <p>MBBS,MD.<br />Experience - 20 years. </p>
                <a href="#" class="icon-link">
                    Visit Profile
                    <svg class="bi">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </a>
            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg bg-gradient fs-2 mb-3">
                    <img src="static/images/doc1.png" style="width:5em; border-radius: 50%;" />
                </div>
                <h3 class="fs-2 text-body-emphasis">Dr. Sidhu</h3>
                <p>MBBS,MD.<br />Experience - 20 years. </p>
                <a href="#" class="icon-link">
                    Visit Profile
                    <svg class="bi">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Ophthalmology</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg bg-gradient fs-2 mb-3">
                    <img src="static/images/doc1.png" style="width:5em; border-radius: 50%;" />
                </div>
                <h3 class="fs-2 text-body-emphasis">Dr. Sidhu</h3>
                <p>MBBS,MD.<br />Experience - 20 years. </p>
                <a href="#" class="icon-link">
                    Visit Profile
                    <svg class="bi">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </a>
            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg bg-gradient fs-2 mb-3">
                    <img src="static/images/doc1.png" style="width:5em; border-radius: 50%;" />
                </div>
                <h3 class="fs-2 text-body-emphasis">Dr. Sidhu</h3>
                <p>MBBS,MD.<br />Experience - 20 years. </p>
                <a href="#" class="icon-link">
                    Visit Profile
                    <svg class="bi">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </a>
            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg bg-gradient fs-2 mb-3">
                    <img src="static/images/doc1.png" style="width:5em; border-radius: 50%;" />
                </div>
                <h3 class="fs-2 text-body-emphasis">Dr. Sidhu</h3>
                <p>MBBS,MD.<br />Experience - 20 years. </p>
                <a href="#" class="icon-link">
                    Visit Profile
                    <svg class="bi">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>


{% endblock body %}